body, html {
    height: 100%;
}
/* Header */
.title {
    font-size: 100px;
    color: white
}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150;
    
}
.welcome{ 
    color: white;
    text-align: center;
    font-size: 50px;
    top: 50%;
    left:50%;
    position: relative;
    transform: translate(-50%, -25%);
}
/* Body */
body {
    margin: 0;
    background-color: black;
    max-width: 1920px;
}

  /* Container */
  .container {
    border: 1px solid; 
    /*max-width: 768px;*/
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
}
.hero-image { /*the hero image*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("temp-photo-of-self.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* button */
.btn {
    border: 1px solid white;
    border-radius: .5rem;
    background-color: rgb(0, 74, 0);
    line-height: 1;
    text-align: center;
    max-width: 150px;
    min-width: 150px;
    font-family: 'Rototo', sans-serif ;
}
.btn:hover {
    background-color: green;
}
.btn a {
    padding: 6px 12px;
    display: block;
    text-decoration: none;
    color: white;
}

.resumebtn {
    border: 1px solid white;
    border-radius: .5rem;
    background-color: rgb(0, 74, 0);
    line-height: 1;
    text-align: center;
    max-width: 150px;
    min-width: 150px;
    font-size: 30px;
    top: 25%;
    position: relative;
}
.resumebtn:hover {
    background-color: green;
}
.resumebtn a {
    padding: 6px 12px;
    display: block;
    text-decoration: none;
    color: white;
}

.centered { /*for anything that needs to be centered*/
    text-align: center;
}
img { /*this sets up the formatting of the images*/
    max-width: 40%;
    padding-inline: 3%;

}



#body-home #nav-home, /*setting up the body*/
#body-services #nav-services {
    background-color: rgb(0, 74, 0);
    color: white;
}
/* main-menu */
#main-menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#resume a {
    color: white;
    text-decoration: none;

}

/*border buttons on top*/
#main-menu li {
    border: 1px solid white;
}
/*text in buttons on top*/
#main-menu a {
    padding: .75rem 1rem .75rem 1rem;
    display: block;
    text-decoration: none;
    color: white;
}
/*when you hover over the buttons on the top */
#main-menu a:hover {
    background-color: green;
    color: white;
}

/* main body of text */
h1, h2, p, pre {
    color: white;
    text-align: center;
}
p {
    font-family: 'Rototo', sans-serif ;
}

main .container {
    flex-direction: column;
}



section, aside { /*section settings*/
    padding:0 1rem;
}

footer { /*everything footer related*/
    background-color: white;
    color: white;
}
footer .container {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: 'Rototo', sans-serif ;
}


#footer-menu a {
    color: white;
    text-decoration: none;
    padding: .75rem .75rem;
}

#footer-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
#footer-menu a:hover {
    border-bottom: 1px solid white;
}

@media (max-width: 856px) { /*once the screen gets small enough these settings start to kick in*/
    img { 
        max-width: 70%;
        padding-bottom: 10px;
    }

    .title {
        font-size: 55px;
    }
    .container {
        max-width: 768px;
    }

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');